---
title: 'Blog Made with Svelte'
draft: false
tags: ['svelte-kit', 'Contentful']
date: 2020-06-01
featuredImg: 'images/featured.png'
cover:
  image: 'images/featured.png'
  alt: Thumbnail of Blog With Svelte
weight: 2
layout: portfolio
---

![](./images/featured.png)

This blog was made using SvelteKit and Contentful.

You can find the blog [by clicking here](https://blog-with-svelte.vercel.app/)
