{{- define "main" }}
    {{- $tags := .Params.Taxonomies.tag | default "category" }}
    {{- $cat := "android" }}
{{- range ($.GetTerms $tags) }}
  {{ $cat = .LinkTitle }}
      {{- end }}
{{ partial "breadcrumbs.html" . }}
{{/*  {{ $cat | urlize }}  */}}
<section class="post-header responsive grid primary-container">
  <h1 class="big-text">

    {{ .Title }}
  </h1>
  <div class="header-image l6 m12 s12">
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{/*  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}  */}}
  {{- if .Params.cover.image }}
  <img loading="lazy" src="{{ (path.Join .RelPermalink .Params.cover.image) | absURL }}"  alt="Thumbnail of {{ .Title }}"/>
  {{/*  {{- else }}
  <img loading="lazy" src="{{ (path.Join "/featured.png") | absURL }}"  alt="Thumbnail of {{ .Title }}"/>  */}}
  {{- end}}
  </div>
    <div class="header-texts padding l5 m8 s12">
      <div>
    <div>
      {{- range ($.GetTerms $tags) }}
      {{/*  {{ .LinkTitle | urlize }}  */}}
      <a href="{{ .Permalink }}" class="category badge uppercase no-border {{ .LinkTitle | urlize }} ">{{ .LinkTitle }}</a>
      {{- end }}
    </div>
    {{- if ne .Params.type "portfolio"}}
    {{- if not (.Param "hideMeta" ) }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{/*  {{- partial "edit_post.html" . -}}  */}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
    {{- end }}
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      <h5>
      {{ .Description }}
      </h5>
    </div>
    {{- end }}
  </div>
  </div>
</section>

<div class="grid" >
  {{- if (.Param "ShowToc") }}
  <div class="s12 m4 l3">
    {{- partial "toc.html" . }}
  </div>
  {{- else}}
  <div class="s12 m4 l2"></div>
  {{- end }}
  <div class="post-single responsive s12 m8 l6">
  {{- if .Content }}
  <div class="post-content padding">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <a href="{{ .Permalink }}" class="badge uppercase">{{ .LinkTitle }}</a>
      {{- end }}
    </ul>
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{/*  {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}  */}}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
  </div>
  {{- if ne .Params.type "portfolio"}}
  <div class="s12 m12 l3">
    {{ partial "related.html"  . }}
  </div>
  {{- end }}


</div>

  {{- if .Params.cover.image }}
<script lang="text/javascript">
    var img =   {{ (path.Join .RelPermalink .Params.cover.image) | absURL }};

    window.onload = async function(){
      let theme =  await ui("theme", img);
      if (localStorage.getItem("pref-theme") === "dark") {
        await ui("mode","dark");
    } else if (localStorage.getItem("pref-theme") === "light") {
       await ui("mode","light");
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
       await ui("mode","dark");
    }
    };
  </script>
  {{- end}}

{{- end }}{{/* end main */}}


