<header class="fixed">
  <nav>
    <button class="circle transparent material-symbols-outlined" data-ui="#left-menu">
    menu
    </button>
    {{- $label_text := (site.Params.label.text | default site.Title) }}
    <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)"  class="max center-align">
        <h5>{{ (site.Title) }}</h5>
    </a>
    <a href="/search"><i class="material-symbols-outlined">search</i> Search</a>
    <button id="theme-toggle" accesskey="t" title="(Alt + T)" class="none transparent">
         <span id="darkIcon">{{ partial "icon.html" (dict "ctx" "dark_mode") }}</span> 
     </button>
  </nav>
</header>

<div class="modal left" id="left-menu">
  <header class="fixed">
    <nav>
      {{/*  <img class="circle" src="favicon.ico">  */}}
      <div class="max">
        <h5>{{ site.Title }}</h5>
        {{/*  <div>v2.3.0</div>  */}}
      </div>
      <button class="transparent circle" data-ui="#left-menu">
       {{ partial "icon.html" (dict "ctx" "close") }}
      </button>
    </nav>
  </header>
  <a class="row round" data-ui="#left-menu" href="/">
    {{ partial "icon.html" (dict "ctx" "home") }}
    <span>Home</span>
  </a>
  <a class="row round" data-ui="#left-menu" href="/portfolio">
    {{ partial "icon.html" (dict "ctx" "receipt_long") }}
    <span>Portfolio</span>
  </a>
  <a class="row round" data-ui="#left-menu" href="/post">
    {{ partial "icon.html" (dict "ctx" "article") }}
    <span>Blog</span>
  </a>
  <div class="small-divider"></div>
        {{- $currentPage := . }}
            {{- range site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq (site.GetPage .KeyName).Layout `search` }}
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }} class="row round" data-ui="#left-menu"  {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                    <span class="capitalize">
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                    {{- if (findRE "://" .URL) }}&nbsp;
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                    {{- end }}
                </a>
            {{- end }}
</div>