{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- if and (gt (len $pages) 1) (in $pages . ) }}
{{- $classes := " s12 m6 l6 secondary-container padding rounded elevate " }}
<nav class="pagenav grid">
  {{- with $pages.Next . }}
  <a class="prev {{ $classes }}" href="{{ .Permalink }}">
    <span class="title">     
       {{ partial "icon.html" (dict "ctx" "navigate_before") }}
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next {{ $classes }}" href="{{ .Permalink }}">
    <span>{{- .Name -}}</span>
    <span class="title">
      {{ partial "icon.html" (dict "ctx" "navigate_next") }}
    </span>
  </a>
  {{- end }}
</nav>
{{- end }}
