{{ with .ctx }}
{{ $class := "" }}

{{- if eq .Params.Weight 1}}
	{{ $class = "featured" }}
{{- end}}
<a aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}" class="post-card s12 m6 l{{ $.size }} {{ $class }} ">
    {{- if .Params.cover.image }}
  <img loading="lazy" src="{{ (path.Join .RelPermalink .Params.cover.image) | absURL }}"  alt="Thumbnail of {{ .Title }}"/>
  {{- else }}
  <img loading="lazy" src="{{ (path.Join "/featured.png") | absURL }}"  alt="Thumbnail of {{ .Title }}"/>
  {{- end}}
	<div class="texts">
			{{ $data := .Params.Tags}}
			{{- if ne .Params.Type "portfolio"}}
				{{ $data = .Params.Category }}
			  		  <div class="badge uppercase">{{ $data }}</div>
				{{- else }}
				{{ $data = .Params.Tags }}
				{{ range $data }}
	  		 		 <div class="badge uppercase">{{ . }}</div>
				{{ end }}
			{{- end }}
		<h5>{{ .Title }}</h5>
	</div>
</a>
{{ end }}