{{ with .ctx }}
{{$class := "featured"}}
<a aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}" class="post-card s12 m6 l4 {{ $class }} ">
	{{/*  <ImageLoader src={imgPath} />  */}}
	<div class="texts">
		{{- if .Params.Tags}}
			{{ range .Params.Tags }}
	  		  <div class="badge uppercase">{{ . }}</div>
			{{ end }}
		{{- end}}
		<h5>{{ .Title }}</h5>
	</div>
</a>
{{ end }}
<style>
	.post-card {
		background-color: var(--white);
		box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.13);
		margin-bottom: 2rem;
		border-radius: 0.4rem;
		text-decoration: none;
		transition: all 0.2s ease-in-out;
		border: 1px solid var(--clr-accent);
		position: relative;
		overflow: hidden;
	}
	.post-card:hover {
		box-shadow: 0px 2px 23px 4px rgba(0, 0, 0, 0.1);
		transform: scale(1.02);
	}
	.post-card .texts {
		padding: 2rem;
	}
	.post-card h5 {
		line-height: normal;
		margin-top: 1rem;
		margin-bottom: 0;
	}
	.post-card p {
		margin: 0;
	}
	.featured {
		border-bottom: 4px solid var(--clr-accent);
	}
</style>
