{{- define "main" }}
<main class="for-oh-for responsive max full-height secondary-container">
    <div class="grid">
        <div class="s12 m6 l6">
            <h1 class="big secondary">OOPS!</h1>
            <h2>NOT FOUND</h2>
        </div>
        <div class="s12 m6 l6">
            <h1>Umm.</h1>
            <h3 class="bold">Sorry, but looks like you're <span class="secondary">lost</span> </h3>
            <p>The page you are looking for doesn't exist.
                Maybe it got deleted? Moved? Never even existed?
                Who knows! Instead...
            </p>
            <a href="/search" class="button button-primary">Make a search</a>
            <a href="/" class="button">Home</a>
        </div>
    </div>
</main>
{{- end }}{{/* end main */ -}}
