---
name: Blog with Svelte Kit and Contentful
slug: blog-with-svelte
category: portfolio
stacks: ["svelte-kit", "Contentful"]
featuredImg: "images/blogwithsvelteandcontentful.png"
date: 2020-06-01
---

This blog was made using SvelteKit and Contentful.

You can find the blog [by clicking here](https://blog-with-svelte.vercel.app/)
