<div class="read">
    <h4>Read more</h4>
    <a href="{{ index .Params 0}}"><h5>{{ index .Params 1}}</h5></a>
</div>

<style>
.read{
    display: block;
    clear: both;
    padding-inline: 1rem;
    padding-block: 4rem;
}
.read h4,.read h5{
    margin: 0;
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
     .read{
     width: 220px;
    margin-right: 30px;
    float: left;
    margin-left: -40px;
    }
}
@media only screen and (min-width: 993px) {
    .read{
     width: 320px;
    margin-right: 30px;
    float: left;
    margin-left: -140px;
    }
}
</style>