* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

body {
  /* setting the body font in the theme.js doesnot work for some reason beyond my understanding so i had to set it from here */
  font-family: "Lato", "Roboto", "Arial", "sans-serif";
}
